@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&family=Poppins:wght@200;400&family=Prompt:wght@600;700&family=Ramaraja&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&family=Nunito&family=Poppins:wght@200;400&family=Prompt:wght@600;700&family=Ramaraja&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&family=Nunito&family=PT+Serif:wght@400;700&family=Poppins:wght@200;400&family=Prompt:wght@600;700&family=Ramaraja&family=Rochester&display=swap');

:root {
    --white: #f5f5f5;
    --grey: #a09b9b;
    --dark-blue: #09172d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.navbar {
    position: fixed;
    background-color: white;
    width: 100%;
    display: flex;
    padding: 10px 80px;
    justify-content: space-between;
}

.navbar-mid{
    display: flex;
    margin-left: 140px;
}
.navbar-right {
    display: flex;
    gap: 48px;
    align-items: center;
}
.navbar-right a{
    font-size: 20px;
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 600;
    -webkit-background-clip: text;
}

.home-a{
    border-style: none;
    border-color: transparent;
    color: #31D8BA;
}

.home-a:hover{
    border-style: solid;
    color: #000;
    transition: 0.2s ease-in-out;
    border-color: transparent transparent #000000 transparent !important;
}

.about-a{
    border-style: none;
    border-color: transparent;
    color: #31D8BA;
}
.about-a:hover{
    border-style: solid;
    color: #000;
    transition: 0.2s ease-in-out;
    border-color: transparent transparent #000000 transparent !important;
}

.contact-us{
    font-size: 20px;
    font-family: "Prompt";
    text-decoration: none;
    color: rgb(255, 255, 255)!important;
}

.navbar-contact{
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border-radius: 25px;
    background: #000;
    font-size: 20px;
    font-family: "Prompt";
}


/* form page */
.form-page{
    width: 100%;
    height: 100vh;
    background: transparent;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-container{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: #31D8BA 2px 2px 20px;
    border-radius: 30px;
}

.form-image{
    background: linear-gradient(-45deg, #bfdaaf, #ececec);
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	animation: gradient 15s ease infinite;
}

.center-img{
    width: 190px;
    height: 250px;
    overflow: hidden;
    margin-bottom: 28px;
}

.center-img img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-img img{
    width: 100%;
    height: 100%;
}

.form-content{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    padding-top: 50px;
    font-family: "Poppins";
}

.text-help-top{
    overflow: hidden;
}

.text-help-top h1{
    font-size: 40px;
    font-family: "Poppins";
    font-weight: 600;
    color: #31D8BA;
    text-shadow: 0px 0px 5px rgb(171, 214, 131);
}

.first-person{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(0, 0, 0);
    font-family: "Poppins";
}

.first-person h6{
    font-size: 16px;
    font-weight: bold;
}

.isi-contact{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-1{
    height: auto;
    display: block;
}

.form-2{
    display: none;
}

.isi-contact P{
    margin-left: 10px;
}

.form{
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.form-group-message{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
}

.form label{
    font-size: 18px;
    color: #09172d;
}

.form input{
    font-family: "Poppins";
    height: 40px;
    border: inherit;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    background-color: #f3f3f3;
}

.form input:focus{
    transition: 1s;
    outline: none !important;
    border:1px solid rgb(8, 248, 156);
}

.message{
    font-family: "Poppins";
    width: 100%;
    height: 280px;
    border: inherit;
    resize: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    background-color: #f3f3f3;
}

.form-group-message textarea:focus{
    transition: 1s;
    outline: none !important;
    border:1px solid rgb(8, 248, 156);
}

.btn-submit{
    margin: 10px;
    padding-right: 1.2em;
    margin-top: 80px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.submit{
    margin-left: 10px;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    color: #31D8BA;
    border-radius: 10px;
    background-color: #000;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.submit:hover{
    background-color: #31D8BA;
    color: #000;
    transition: 0.5s ease-in-out;
}

#phone::-webkit-outer-spin-button,
#phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.next-back{
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 600;
    color: #030303;
    border-radius: 10px;
    background-color: #31D8BA;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.next-back:hover{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}


/* footer/ */
#footer{
    padding-top: 40px;
    width: 100%;
    height:400px;
    background-color: #C4C4C4;
    overflow: hidden;
}
.footer-top{
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.text{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start; 
    height: 240px;
    width: 400px;
}

.title{
    font-size: 24px;
    font-family: "Poppins";
    font-weight: bold;
    overflow: hidden;
    height: 180px;
    background: -webkit-linear-gradient(180deg, #31D8BA 22.92%, #0A0A0A 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.isi{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    font-family: "Poppins";
    height: 300px;
}
.follow-sosmed{
    width: 100%;
    height: 71px;
    background-color: #969393;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sosmed-container{
    display: flex;
    
    width:88%;  
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.text-follow{
    font-family: "Poppins";
    font-size: 14px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-follow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    padding-left: 20px;
}
.facebook{
    background-color: #000000;
    width: 33px;
    height: 33px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.facebook a{
    color:rgb(255, 255, 255);
    text-decoration: none; 
    background-color: none;
    font-family: "Poppins";
    font-size: 20px;
}
.facebook:hover{
    background-color: #31D8BA;
    width: 33px;
    height: 33px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center
}
.instagram{
    background-color: #000000;
    width: 33px;
    height: 33px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center
}
.instagram:hover{
    background-color: #31D8BA;
    width: 33px;
    height: 33px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center
}
.twitter{
    background-color: #000000;
    width: 33px;
    height: 33px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center
}
.twitter:hover{
    background-color: #31D8BA;
    width: 33px;
    height: 33px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center
}
.copyright{
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Poppins";
    font-size: 14px;
    color: #ffffff;
    width: 280px;
}
.keep-update{
    display: flex;
    width: 480px;
    align-items: center;
    justify-content: center;
}
.textupdate{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.textupdate p{
    font-family: "Poppins";
    padding-top: 10px;
    font-size: 14px;
    color: #ffffff;
    height: 47px;
    width: 230px;
    padding-right: 25px;
    overflow: hidden;
}
.input-update input{
    height: 30px;
    width: 214px;
    background-color: none;
}

.btn-join{
    height: 30px;
    width: 30px;
    background-color: #4b4a4a;
    color: #ffffff;
    font-family: "Poppins";
    border-radius: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.btn-join:hover{
    background-color: #2dcea6;
    box-shadow: #12EEC6;
}
.btn-join:active{
    background-color: #828282;
}
.logo-bawah{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    height: 50px;
    overflow: hidden;
}
.textupdate{
    overflow: hidden;
}