@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&family=Poppins:wght@200;400&family=Prompt:wght@600;700&family=Ramaraja&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&family=Nunito&family=Poppins:wght@200;400&family=Prompt:wght@600;700&family=Ramaraja&family=Rochester&display=swap');

:root {
    --white: #f5f5f5;
    --grey: #a09b9b;
    --dark-blue: #09172d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.navbar {
    position: static;
    width: 100%;
    display: flex;
    padding: 10px 80px;
    justify-content: space-between;
}

.navbar-mid{
    display: flex;
    margin-left: 140px;
}
/* search-bar */
.search-bar{
    width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    border-width: 2px;
    border-radius: 9999px;
    padding-right: 4px;
    border: 1px solid rgba(0, 0, 0, 0.56);
}

.active-search{
    width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    border-width: 2px;
    border-radius: 9999px;
    padding-right: 4px;
    border: 1px solid rgba(111, 245, 1, 0.56);
    transition: 0.8s;
}

.input-search:focus + .search-bar{
    display: none;
}

.input-search{
    border-width: 0px;
    border-style: none;
    box-sizing: border-box;
    display: flex;
    width: 304px;
    height: 43px;
    border: transparent;
    border-radius: 30px;
    font-size: 20px;
    font-family: "Nunito";
}

.input-search:focus + .search-bar{
    border: 5px solid rgba(97, 241, 0, 1);
}

.input-search:focus{
    outline: none;
}

.btn-search{
    padding: 10px;
    margin: 0;
    border: 0;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

.navbar-right {
    display: flex;
    gap: 48px;
    align-items: center;
}
.navbar-right a{
    font-size: 20px;
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 600;
    -webkit-background-clip: text;
}

.home-a{
    color: #000000;
}

.about-a{
    color: #31D8BA;
}
.about-a:hover{
    color: #000000;
}

.contact-us{
    font-size: 20px;
    font-family: "Prompt";
    text-decoration: none;
    color: rgb(255, 255, 255)!important;
}

.navbar-contact{
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border-radius: 25px;
    background: #31D8BA;
    font-size: 20px;
    font-family: "Prompt";
}
.navbar-contact:hover{
    box-shadow: 2px 2px 4px #000000;
}

/* Landing page */
#Landing-page {
    height: 100vh;/* Rectangle 1 */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    font-size: 32px;
    font-family: "Poppins";
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
    background: -webkit-linear-gradient(180deg, #12EEC6 22.92%, #0A0A0A 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slideshow-container{
    width: 704px;
    height: 59%;
    border-radius: 40px;
    border: 2px solid var(--dark-blue);
}

.slide{
    display: none;
    width: 100%;
    transition: 2s;
    height: 100%;
    display: none;
    transition: 1s;
    overflow: hidden;
}

.slide img{
    border-radius: 40px;
    width: 700px;
    height: 100%;
}

#prev{
    position: absolute;
    top: 65%;
    left: 10;
    margin-right: 710px;
    border-style: none;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #31D8BA;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
#prev:active{
    background: #0f0f0f;
    color: white;
}

#next{
    position: absolute;
    top: 65%;
    right: 0;
    margin-right: 580px;
    border-style: none;
    transform: rotate(180deg) translateY(50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #31D8BA;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
#next:active{
    background: #0f0f0f;
    color: white;
}
/* radio button */
.radio-input{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}
.radio-input button{
    cursor: pointer;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    left: 702px;
    top: 713px;
    border-radius: 50px;
    border: 2px solid #31D8BA;
}

.enable{
    background: #31D8BA;
    animation-name: fade;
    opacity: 4 ;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* recomendation */
.recomendation{
    display: flex;
    height: 100vh;
    
}