@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&family=Poppins:wght@200;400&family=Prompt:wght@600;700&family=Ramaraja&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&family=Nunito&family=Poppins:wght@200;400&family=Prompt:wght@600;700&family=Ramaraja&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&family=Nunito&family=PT+Serif:wght@400;700&family=Poppins:wght@200;400&family=Prompt:wght@600;700&family=Ramaraja&family=Rochester&display=swap');

:root {
    --white: #f5f5f5;
    --grey: #a09b9b;
    --dark-blue: #09172d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.navbar {
    position: static;
    width: 100%;
    display: flex;
    padding: 10px 80px;
    justify-content: space-between;
}


.navbar-mid{
    display: flex;
    margin-left: 140px;
}
/* search-bar */
.search-bar{
    width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    border-width: 2px;
    border-radius: 9999px;
    padding-right: 4px;
    border: 1px solid rgba(0, 0, 0, 0.56);
}

.active-search{
    width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    border-width: 2px;
    border-radius: 9999px;
    padding-right: 4px;
    border: 1px solid rgba(111, 245, 1, 0.56);
    transition: 0.8s;
}

.input-search:focus + .search-bar{
    display: none;
}

.input-search{
    border-width: 0px;
    border-style: none;
    box-sizing: border-box;
    display: flex;
    width: 304px;
    height: 43px;
    border: transparent;
    border-radius: 30px;
    font-size: 20px;
    font-family: "Nunito";
}

.input-search:focus + .search-bar{
    border: 5px solid rgba(97, 241, 0, 1);
}

.input-search:focus{
    outline: none;
}

.btn-search{
    padding: 10px;
    margin: 0;
    border: 0;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

.navbar-right {
    display: flex;
    gap: 48px;
    align-items: center;
}
.navbar-right a{
    font-size: 20px;
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 600;
    -webkit-background-clip: text;
}

.home-a{
    color: #000;
    border-style: solid;
    border-color: transparent transparent #000000 transparent !important;
    transition: transform .25s ease-in-out;
}

.about-a{
    border-style: none;
    border-color: transparent;
    color: #31D8BA;
}
.about-a:hover{
    border-style: solid;
    color: #000;
    transition: 0.2s ease-in-out;
    border-color: transparent transparent #000000 transparent !important;
}

.contact-us{
    font-size: 20px;
    font-family: "Prompt";
    text-decoration: none;
    color: rgb(255, 255, 255)!important;
}

.navbar-contact{
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border-radius: 25px;
    background: #31D8BA;
    font-size: 20px;
    font-family: "Prompt";
}
.navbar-contact:hover{
    transition: 0.4s;
    box-shadow: 2px 2px 4px #000000;
    background: #7dbeb2;
}

/* Landing page */
#Landing-page {
    height: 100vh;/* Rectangle 1 */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-landing{
    font-size: 32px;
    font-family: "Poppins";
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    background: -webkit-linear-gradient(180deg, #12EEC6 22.92%, #0A0A0A 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slideshow-container{
    width: 60%;
    height: 65%;
    border-radius: 40px;
    border: 2px solid var(--dark-blue);
}

.slide{
    display: none;
    width: 100%;
    transition: 2s;
    height: 100%;
    display: none;
    transition: 1s;
    overflow: hidden;
}

.slide img{
    border-radius: 40px;
    width: 100%;
    height: 100%;
}

#prev{
    position: absolute;
    top: 60%;
    left: 10;
    margin-right: 1040px;
    border-style: none;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #31D8BA;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
#prev:active{
    background: #0f0f0f;
    color: white;
}
#prev:hover{
    transition: 0.2s;
    background: #6bc0ae;
}

#next{
    position: absolute;
    top: 60%;
    right: 0;
    margin-right: 318px;
    border-style: none;
    transform: rotate(180deg) translateY(50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #31D8BA;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
#next:active{
    background: #0f0f0f;
    color: white;
}
#next:hover{
    transition: 0.2s;
    background: #6bc0ae;
}
/* radio button */
.radio-input{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}
.radio-input button{
    cursor: pointer;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    left: 702px;
    top: 713px;
    border-radius: 50px;
    border: 2px solid #31D8BA;
}

.enable{
    background: #31D8BA;
    animation-name: fade;
    opacity: 4 ;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* recomendation */
.recomendation{
    height: 140vh;
    overflow: hidden;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.information-text{
    font-size: 40px;
    font-family: 'PT Serif';
    font-weight: 700;
}
.isi-text{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'PT Serif';
    color: #828282;
}

.tab-info{
    width: 80%;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    margin-top: 100px;
    gap: 40px;
}

.active-info{
    width: 15%;
    height: 10%;
    padding: 0px 10px 15px;
    color: #31D8BA !important;
    font-size: 20px;
    font-family: 'Poppins';
    text-align: center;
    font-weight: 700;
    gap: 40px;
    text-decoration: none;
    border-style: solid;
    border-color: transparent transparent #31D8BA transparent;
    cursor: pointer;
}

.tab-info a{
	outline: inherit;
    width: 15%;
    height: 10%;
    padding: 0px 10px 15px;
    border-color: transparent transparent #31D8BA transparent;
    color: #050505;
    font-size: 20px;
    font-family: 'Poppins';
    text-align: center;
    font-weight: 700;
    gap: 40px;
    text-decoration: none;
    cursor: pointer;
}

.tab-info a:hover{
    transition: 0.2s;
    color: #31D8BA;
    border-style: solid;
    border-color: transparent transparent #31D8BA transparent;
}

.konten-all{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 0;
    padding-left: 294px;
    width: auto;
    height: 65%;
    display: none;
    transition: 10s ease-in-out;
}

.active-konten{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 0;
    padding-left: 294px;
    width: auto;
    height: 65%;
    transition: 10s ease-in-out;
}

.isi-konten{
    display: flex;
    flex-basis: 25%;
    border-radius: 10px;
    border-style: solid;
    box-sizing: border-box;
    border-color: transparent;
    height: 350px;
    border-color: #31D8BA;
    overflow: hidden;
}
.isi-konten img{
    width: 100%;
    height: 100%;
}

.isi-konten img:hover{
    transition: 4s;
    transform: scale(1.1);
    border-color: #000000;
}

/* footer/ */
#footer{
    padding-top: 40px;
    width: 100%;
    height:400px;
    background-color: #C4C4C4;
    overflow: hidden;
}
.footer-top{
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.text{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start; 
    height: 240px;
    width: 400px;
}

.title{
    font-size: 24px;
    font-family: "Poppins";
    font-weight: bold;
    overflow: hidden;
    height: 180px;
    background: -webkit-linear-gradient(180deg, #31D8BA 22.92%, #0A0A0A 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.isi{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    font-family: "Poppins";
    height: 300px;
}
.follow-sosmed{
    width: 100%;
    height: 71px;
    background-color: #969393;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sosmed-container{
    display: flex;
    
    width:88%;  
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.text-follow{
    font-family: "Poppins";
    font-size: 14px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-follow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    padding-left: 20px;
}
.facebook{
    background-color: #000000;
    width: 33px;
    height: 33px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.facebook a{
    color:rgb(255, 255, 255);
    text-decoration: none; 
    background-color: none;
    font-family: "Poppins";
    font-size: 20px;
}
.facebook:hover{
    background-color: #31D8BA;
    width: 33px;
    height: 33px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center
}
.instagram{
    background-color: #000000;
    width: 33px;
    height: 33px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center
}
.instagram:hover{
    background-color: #31D8BA;
    width: 33px;
    height: 33px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center
}
.twitter{
    background-color: #000000;
    width: 33px;
    height: 33px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center
}
.twitter:hover{
    background-color: #31D8BA;
    width: 33px;
    height: 33px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center
}
.copyright{
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Poppins";
    font-size: 14px;
    color: #ffffff;
    width: 280px;
}
.keep-update{
    display: flex;
    width: 480px;
    align-items: center;
    justify-content: center;
}
.textupdate{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.textupdate p{
    font-family: "Poppins";
    padding-top: 10px;
    font-size: 14px;
    color: #ffffff;
    height: 47px;
    width: 230px;
    padding-right: 25px;
    overflow: hidden;
}
.input-update input{
    height: 30px;
    width: 214px;
    background-color: none;
}

.btn-join{
    height: 30px;
    width: 30px;
    background-color: #4b4a4a;
    color: #ffffff;
    font-family: "Poppins";
    border-radius: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.btn-join:hover{
    background-color: #2dcea6;
    box-shadow: #12EEC6;
}
.btn-join:active{
    background-color: #828282;
}
.logo-bawah{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    height: 50px;
    overflow: hidden;
}
.textupdate{
    overflow: hidden;
}

#goto-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #31D8BA;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    opacity: 0.5;
}

#goto-top:hover {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

.gotop-img{
    transform: rotate(90deg);
}